<html>
<body>
<h1>Apache is running fine</h1>
<h1>So much : {{ first_line }} </h1>
<h1>best ansible demo ever: {{ second_line }}</h1>
<picture>
    <img src="1.jpg" alt="Doge" style="width:auto;">
  </picture>
  
</body>
</html>
